<!DOCTYPE html>
<html>
<head>

  <title>GA Code Challenge</title>
  <link href='http://fonts.googleapis.com/css?family=Cinzel:400,700|Poiret+One' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
  <div class="title content">
    <h1>Welcome to OMDB!</h1>
    <p>Enter a movie title or year to find out more information!</p>
  </div>
  <!-- Form where user enters search criteria. -->
  <form action="http://www.omdbapi.com/?" method="GET" class="content" id="search-form">
    <input type="search" id="s">
    <button type="button">Search</button>
  </form>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>

